_gray = #6c6c6c
_red = #ff4136
_darkGray = #575757

.root
  +tablet()
    flex-direction row
    justify-content space-between

.sortProducts
  +tablet()
    flex-direction row

.foundText
  color _gray
  font-weight 600
  font-size 18px

.foundTextRed
  color _red

.sort
  flex-direction row
  margin 2u 0

  +tablet()
    margin 0 0 0 8u

.selectSort
  flex-direction row
  align-items center
  margin-left 1u

.default
  color _darkGray
  font-weight 600
  font-size 18px

.iconSelect
  margin 0 1u

.tabList
  flex-direction row

.iconBars
  margin-left 3u
  