_gray = #6c6c6c
_darkGray = #686868
_description = #8b8b8b

.title
  color _gray
  font-size 18px
  font-weight 600

.products
  margin-top 3u

.product
  margin-top 3u
  flex-direction row
  &.first
    margin 0

.productInfo
  margin-left 2u

.name
  color _gray
  font-size 14px
  font-weight 600
  flex-wrap wrap

.productImage
  width 90px
  height 88px

.rating
  flex-direction row
  flex-wrap wrap
  margin 1u 0

.icon
  margin-left 1u
  &.first
    margin 0

.cost
  color _description
  font-size 14px
  font-weight 600