_gray = #6c6c6c
_darkGray = #686868

.root
  margin-bottom 5u

.title
  color _gray
  font-size 18px
  font-weight 600

.sizes
  flex-direction row
  margin-top 4u

.size
  margin-left 2u
  color _darkGray
  font-size 14px
  font-weight 600
  &.first
    margin 0