_searchGray = #dedede
_gray = #6c6c6c
_backgroundGray = #f1f1f1

.root
  margin-bottom 6u

.title
  color _gray
  font-size 18px
  font-weight 600

.search
  width 100%
  flex-direction row
  justify-content space-between
  margin-top 4u

.textInput
  font-size 14px
  padding-left 2u
  padding-top 2u
  padding-bottom 2u
  background-color _backgroundGray
  flex 1

.searchButton
  width 50px
  background-color _searchGray

.icon
  margin auto
  