_gray = #6c6c6c
_darkGray = #888888

.root
  margin-bottom 4u
  
  +tablet()
    margin-bottom 5u

.title
  color _gray
  font-size 18px
  font-weight 600

.categories
  margin-top 4u

.category
  margin-bottom 2u
  flex-direction row
  justify-content space-between
  &.last
    margin 0

.categoryText
  font-size 14px
  color _darkGray
  font-weight 600
