_gray = #6c6c6c
_darkGray = #686868
_description = #8b8b8b

.root
  +desktop()
    flex 1
    margin-left 8u

  +wide()
    margin-left 10u

.title
  color _gray
  margin-bottom 4u
  font-size 18px
  font-weight 600