_searchGray = #dedede
_gray = #6c6c6c
_lightGray = #b7b7b7
_darkGray = #575757

.root
  margin-bottom 5u

.title
  color _gray
  font-size 18px
  font-weight 600

.slider
  border-bottom-width 3px
  border-bottom-color _lightGray
  margin-top 4u

.price
  flex-direction row
  justify-content space-between
  margin-top 2u

.priceText
  font-size 14px
  color _darkGray
  font-weight 600
  